<?xml version="1.0"?>
<config>   	 
    <modules>
        <Ajax_Face>
            <version>0.1.0</version>
        </Ajax_Face>
    </modules>
	 <frontend>
        <routers>
            <face>
                <use>standard</use>
                <args>
                    <module>Ajax_Face</module>
                    <frontName>face</frontName>
                </args>
            </face>
        </routers>
		<layout>
            <updates>
                <face>
                    <file>face.xml</file>
                </face>
            </updates>
        </layout>
    </frontend>
</config>