<?xml version="1.0"?>
<config>   	 
    <modules>
        <Daffodil_Tryon>
            <version>0.1.0</version>
        </Daffodil_Tryon>
    </modules>
    <global>
      <helpers>
            <tryon>
                <class>Daffodil_Tryon_Helper</class>
            </tryon>
        </helpers>
    </global>
   <frontend>
        <routers>
            <tryon>
                <use>standard</use>
                <args>
                    <module>Daffodil_Tryon</module>
                    <frontName>tryon</frontName>
                </args>
            </tryon>
        </routers>
	<layout>
            <updates>
                <tryon>
                    <file>tryon.xml</file>
                </tryon>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tryon>
                                            <title>Tryon</title>
                                         </tryon>
                                     </children>
                                 </config>
                             </children>
                         </system>
                     </children>
                 </admin>
             </resources>
         </acl>
      </adminhtml>
      <default>
           <tryon>
               <all_settings>
                       <enabled>1</enabled>
               </all_settings>
           </tryon>
      </default>
</config>
